<style>
    .page-header {
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        font-size: 1rem;
        font-weight: 500;
        text-align: @TextAlign
    }
</style>

<div class="page-header @CssClass">
    @Caption
</div>
@*
    Sayfa üstündeki sayfayı belirten kutu Örnek: Satış Faturaları
*@
@code {

    [Parameter] public string CssClass { get; set; } = "bg-primary text-white";
    [Parameter] public string TextAlign { get; set; } = "left";
    [Parameter] public string Caption { get; set; }

}